<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/common :: common-head"></head>
<body>
<!-- Header -->
<div th:replace="fragments/common :: common-header"></div>

<div class="container pb-3 text-center">
    <h1>Ihr Vertrag wurde erfolgreich zur Kündigung vorgemerkt.</h1>
    <span>Wir werden uns innerhalb der nächsten Tage bei Ihnen melden.</span>
</div>

<div th:replace="fragments/common :: common-footer"></div>


</body>
</html>