<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/common :: common-head"></head>
<body>
<!-- Header -->
<div th:replace="fragments/common :: common-header"></div>

<div class="container pb-3 text-center">
    <h1>Ihre Kündigung wurde entgegen genommen.</h1>
    <span>Sie erhalten in wenigen Minuten eine E-Mail mit einem Bestätigungslink. Erst nachdem Sie diesen geklickt haben, wird Ihre Kündigung weitergeleitet.</span>
</div>

<div th:replace="fragments/common :: common-footer"></div>


</body>
</html>