<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/common :: common-head"></head>
<body>
<div th:replace="fragments/common :: common-header"></div>

<div class="container content">
    <p class="lead">Impressum</p>
    <p>T-Systems International GmbH</p>


    <span><strong>Adresse:</strong></span>
    <address>
        Hahnstraße 43d<br>
        D-60528 Frankfurt am Main<br>
        E-Mail: info@t-systems.com<br>
        Telefon: 069 20060 - 0<br>
    </address>

    <span><strong>Handelsregister:</strong></span>
    <address>
        Amtsgericht Frankfurt am Main, HRB 55933, Sitz der Gesellschaft: Frankfurt am Main, Deutschland<br>
        Ust.-IdNr. DE 118 645 675<br>
        WEEE-Reg.-Nr. DE50335567<br>
    </address>


    <span><strong>Aufsichtsbehörde:</strong></span>
    <address>
        Bundesnetzagentur für Elektrizität, Gas, Telekommunikation, Post und Eisenbahnen<br>
        Tulpenfeld 4, 53113 Bonn<br>
    </address>


    <span><strong>Aufsichtsrat:</strong></span>
    <address>
        Claudia Nemat (Vorsitzende)<br>
    </address>

    <span><strong>Vertretungsberechtigt:</strong></span>
    <address>
        Adel Al-Saleh (Vorsitzender), Urs M. Krämer, Christoph Ahrendt, Georg Pepping<br>
    </address>


    <span><strong>Verantwortlich:</strong></span>
    <address>
        T-Systems International GmbH<br>
        Björn Radde<br>
        Hahnstraße 43d<br>
        D-60528 Frankfurt am Main<br>
    </address>
</div>

<div th:replace="fragments/common :: common-footer"></div>
</body>
</html>