<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/common :: common-head"></head>
<body>
<!-- Header -->
<div th:replace="fragments/common :: common-header"></div>

<div class="container pb-3">
    <p><strong>Sehr geehrte Damen und Herren,</strong></p>

    <p>vielen Dank für Ihr Interesse zur Anbindung an die Corona-Warn-App.</p>

    <p>Durch die aktuelle Pandemieentwicklung sowie mit Inkrafttreten der Testverordnung vom
           31.03.2022 (veröffentlicht im Bundesanzeiger am 30.03.2022) ist es nicht mehr
        erforderlich, dass sich Teststellen verpflichtend an die Corona-Warn-App des Robert
        Koch-Instituts anbinden müssen.</p>

    <p>Vor diesem Hintergrund bitten wir um Verständnis, dass <strong>Registrierungen zur
                                                                                     Anbindung an
                                                                                 die
        Corona-Warn-App nicht mehr möglich sind</strong>.</p>


    <p>Mit freundlichen Grüßen</p>

    <p>Corona-Warn-App Team<br>
        T-Systems International GmbH</p>

</div>


<div th:replace="fragments/common :: common-footer"></div>


</body>
</html>